@{ 
    ViewData["Title"] = "Справка";
    var date = DateTime.Now;
}
    <div class="spravka-wrapper">
        <div class="spravka">
            <p>Справка</p>
            <div>
                <p>Информационная система для сетевых компьютерных игр</p>
                <p>Разработчик: Овчинникова А.В.</p>
                <p>Сборка от: @date</p>
                <p>Версия: 1</p>
            </div>
        </div>
    </div>